@charset "UTF-8";

ytd-watch-flexy:not([watch-while-panels-active]) {
  --ylcaa-required-min-height: 360px;

  --ylcaa-masthead-offset: calc(
    var(--ytd-watch-flexy-masthead-height) +
    var(--ytd-margin-6x)
  );

  /* Stacked chat layout */
  #below {
    #chat.ytd-watch-flexy:not([collapsed]) {
      min-height: var(--ylcaa-required-min-height);

      --ylcaa-video-player-height: calc(
        (100vw - var(--ytd-watch-flexy-scrollbar-width)) /
        var(--ytd-watch-flexy-width-ratio) *
        var(--ytd-watch-flexy-height-ratio)
      );

      height: min(
        calc(
          100vh -
          var(--ylcaa-masthead-offset) -
          var(--ylcaa-video-player-height) -
          var(--ytd-margin-4x)
        ),
        var(--ytd-watch-flexy-chat-max-height)
      );
    }
  }

  /* Side-by-side chat layout */
  &:not([theater]) {
    #secondary {
      #chat.ytd-watch-flexy:not([collapsed]) {
        --ylcaa-default-min-height: 596px;

        min-height: clamp(
          var(--ylcaa-required-min-height),
          calc(100vh - var(--ylcaa-masthead-offset)),
          var(--ylcaa-default-min-height)
        );
      }
    }
  }
}
